/* @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap'); */


@tailwind base;

@font-face {
  font-family: 'valencia';
  src: url(/public/font/valencia.ttf) format("ttf");
}

@tailwind components;
@tailwind utilities;


.scrolled-x-title{
  font-size: 13rem;
}

.scroll-regular{
  animation-timeline: view();
  animation-range: entry 0% exit 350%;

}

.scroll-fast{
  animation-timeline: view();
  animation-range: entry 0% exit 240%;

}

.scroll-title{
  animation-timeline: view();
  animation-range: entry 0% exit 90%;
}

.scroll-app-phone-description{
  animation-timeline: view();
  animation-range: entry 0% exit 40%;
}
